@import "~@/styles/mixin.scss";

h2.txt {
  color: #333;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  padding-left: 30px;
  background-image: url("~@/assets/home/line.png");
  background-size: 14px 24px;
  background-position: left;
  background-repeat: no-repeat;
  display: inherit;
  margin: 20px 0;
}


